.container {
  width: 75%;
  margin: 5rem auto 0;
}

.container > header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1rem;
  gap: 0.5rem;
}

.filters {
  display: flex;
  gap: 0.5rem;
}

.pages {
  display: flex;
  justify-content: center;
}

@media (max-width: 800px) {
  .container > header {
    flex-direction: column;
    max-width: fit-content;
  }

  .filters {
    justify-content: space-between;
  }
}
