.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container form{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: aliceblue;
  border-radius: var(--border-radius);
  padding: 3rem 2rem;
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.75);
}

.container button{
  width: 100%;
  border: none;
  margin-top: 1em;
  margin-bottom: 2em;
  padding: 1em;
  border-radius: var(--border-radius);
  background: #d81375;
}
