.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--dark-10);
  border-radius: var(--border-radius);
  padding: 3rem 2rem;
}

.container button {
  width: 100%;
  border: none;
  margin-top: 2rem;
  margin-bottom: 1rem;
  padding: 1em;
  border-radius: var(--border-radius);
  background: var(--primary-400);
  color: var(--neutral-900);
}

.container a {
  text-decoration: underline;
  color: var(--accent);
}
