.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game{
  display: flex;
  gap: 2rem;
  margin: 8rem 10rem;
}

.game img{
  border-radius: var(--border-radius);
  border: 1.2px solid var(--light);
  max-width: 20rem;
  height: auto;
}

.info{

}

.header{
  
}

.header h1{
  display: inline;
}

.header h4{
  display: inline;
  margin-left: 0.5rem;
}

.headerContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info p{
  max-width: 60ch;
  margin-top: 1rem;
}

.rating{
  display: flex;
  justify-content: center;
}

.avgRating{
  margin: 0 0.5rem;
}