.container {
  width: 75%;
  margin: 5rem auto;
}

.user {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.option {
  display: block;
  max-width: fit-content;
  text-transform: capitalize;
  margin-top: 2rem;
}

.optionName {
  border-left: 2px solid var(--primary-400);
  padding-left: 0.5rem;
}

.count {
  display: inline-flex;
  align-items: center;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}

.reviews {
}

@media (max-width: 640px) {

}
