.container{
  display: flex;
  justify-content: center;
  gap: 3rem;
  width: 75%;
  margin: 5rem auto;
}

.cover{
  position: sticky;
  top: 5rem;
  height: 100%;
}

.cover img{
  border-radius: var(--border-radius);
  border: 1px solid rgba(255, 255, 255, 0.5);
  max-width: 20rem;
}

.besideCover{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info{
  display: flex;
  gap: 3rem;
  margin-bottom: 10rem;
}

.summary{
  max-width: 60ch;
  margin-top: 1rem;
  height: calc(var(--line-height) * 16);
  overflow: hidden;
}

.header{
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}

.header > h4{
  margin-left: 0.5rem;
}

.avgRating{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-left: auto;
}

.loader{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.genres > a {
  text-decoration: underline;
  color: var(--textLight);
}

.details{

}

.details button{
  background: var(--accent);
  border: none;
  border-right: 1px solid;
  padding: 0.5em;
  cursor: pointer;
}