.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}

.container > header {
  display: flex;
  gap: 0.5rem;
}

.users {
  height: 38rem;
  margin: 1rem;
}
