@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://api.fontshare.com/v2/css?f[]=satoshi@1,2&display=swap");
@import url("https://api.fontshare.com/v2/css?f[]=general-sans@1&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: "General Sans", sans-serif;
  font-weight: 400;
  line-height: var(--line-height);
}

:root {
  /* colors */
  /* --text: #FFFFF0; */
  /* --neutral-100: #fbfbff; */
  --neutral-100: #fffff0;
  --neutral-300: #9999b0;
  --neutral-500: #4a4a6c;
  --neutral-700: #292953;
  /* --neutral-900: #121212; */
  --neutral-900: #020617;
  --dark-10: rgb(22, 26, 42);
  --dark-15: rgb(40, 43, 58);
  --dark-20: rgb(53, 56, 69);
  --dark-25: rgb(65, 68, 81);
  --dark-50: rgb(129, 131, 139);
  --textLight: rgba(255, 255, 240, 0.8);
  --primary-400: #2dd4bf;
  --primary-700: #0f766e;
  /* --primary: #00c7c4; */
  --secondary: #00e6a0;
  --accent: #d946ef;
  /* --accent: #4147f1; */
  --error: #ef4444;
  --success: hsl(120, 80%, 50%);
  --yellow: #fcba03;

  /* fonts */
  --size-xxs: 0.5rem;
  --size-xs: 0.75rem;
  --size-sm: 0.875rem;
  --size-base: 1rem;
  --size-lg: 1.125rem;
  --size-xl: 1.25rem;
  --size-2xl: 1.5rem;
  --size-3xl: 1.875rem;
  --size-4xl: 2.25rem;
  --size-5xl: 3rem;
  --size-6xl: 3.75rem;
  --size-7xl: 4.5rem;
  --size-8xl: 6rem;
  --size-9xl: 8rem;
  --size-10xl: 10rem;
  --line-height: calc(1em + 0.5rem);

  --border-radius: 0.25rem;

  /* Toastify override */
  --toastify-color-dark: var(--dark-20) !important;
  --toastify-color-progress-dark: var(--accent) !important;
  --toastify-text-color-dark: var(--neutral-100) !important;
  /* --toastify-font-family: "General Sans", sans-serif !important; */
}

body {
  background-color: var(--neutral-900);
  color: var(--neutral-100);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: -0.03em;
  font-weight: 700;
}

label {
  text-transform: capitalize;
}

a {
  text-decoration: none;
  color: var(--text);
}

button {
  background: none;
  border: none;
  cursor: pointer;
  color: inherit;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  position: fixed;
  background: var(--neutral-900);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  left: 0;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  height: 4rem;
  z-index: 1000;
}

.navbar > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
}
.options {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.options a,
.dropBars {
  transition: 0.3s;
}

.options a:hover,
.dropBars:hover {
  opacity: 0.5;
}

.icon {
  font-size: 2.5rem;
  display: block;
  color: var(--primary-400);
}

.active {
  /* text-decoration: underline; */
}

.select {
  color: var(--neutral-100);
  background: none;
  padding: 0;
}

.profilePic {
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
}

.dropOptions {
  display: none;
}

@media (max-width: 640px) {
  .options {
    display: none;
  }

  .dropOptions {
    display: block;
  }
}

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */
