@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: var(--line-height);
}

:root{
  /* colors */
  /* --text: #FFFFF0; */
  --neutral-100: #FBFBFF;
  /* --neutral-900: #01011e; */
  --neutral-900: #01011E;
  --textLight: rgba(255, 255, 240, 0.8);
  --primary: #15E0B1;
  --primary-100: #EAFBF7;
  --primary-900: #014031;
  /* --primary: #00c7c4; */
  --secondary:#00e6a0;
  --accent:#4147f1;
  --error: hsl(2,80,50);
  --success: hsl(120,80,50);
  --light: rgb(207, 230, 249);

  /* fonts */
  
  --line-height: calc(1em + 0.5rem);

  --border-radius: 0.25rem;
}

body{
 background-color: var(--neutral-900); 
 color: var(--neutral-100);
}

h1,
h2,
h3,
h4,
h5,
h6{
  letter-spacing: -0.05em;
  font-weight: 700;
}

label{
  text-transform: capitalize;
}

a{
  text-decoration: none;
  color: var(--text);
}

button{
  background: none;
  border: none;
  cursor: pointer;
  color: inherit;
  display: inline-flex;
  align-items: center;
}

.navbar{
  position: fixed;
  background: var(--neutral-900);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  left: 0;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  height: 3.5rem;
  z-index: 1000;
}
.navbar > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
}
.navbar > div > div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar a:hover{
  text-decoration: underline;
}

.icon{
 font-size: 40px;
 display: block;
 color: var(--primary);
}

.active {
  text-decoration: underline;
}
