.filtersForm{
  position: absolute;
  top: 0;
  background: whitesmoke;
  margin-top: 5rem;
}

.filtersForm input{
  margin: 0.25rem 0.25rem;
}

.filtersForm ul{
  list-style-type: none;
  padding-left: 0;
}