.game {
  border-radius: var(--border-radius);
  border: 1.2px solid var(--light);
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.cover{
  max-width: 100%;
}



.name h4{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}