.navbar {
  position: fixed;
  background: var(--neutral-900);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  left: 0;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  height: 4rem;
  z-index: 1000;
}

.navbar > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
}
.options {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.options a,
.dropBars {
  transition: 0.3s;
}

.options a:hover,
.dropBars:hover {
  opacity: 0.5;
}

.icon {
  font-size: 2.5rem;
  display: block;
  color: var(--primary-400);
}

.active {
  /* text-decoration: underline; */
}

.select {
  color: var(--neutral-100);
  background: none;
  padding: 0;
}

.profilePic {
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
}

.dropOptions {
  display: none;
}

@media (max-width: 640px) {
  .options {
    display: none;
  }

  .dropOptions {
    display: block;
  }
}