.container {
  display: flex;
  gap: 0.25rem;
  margin: 1rem;
}

.btn {
  background: var(--primary-400);
  color: var(--neutral-900);
  border-radius: var(--border-radius);
  height: 2rem;
  min-width: 2rem;
  padding: 0.5em;
  transition: 0.3s;
}

.btn.disabled {
  pointer-events: none;
  background: #042f2e;
  color: var(--neutral-100);
}

.next,
.prev {
  height: 2rem;
}

.dots {
  height: 2rem;
  min-width: 2rem;
  text-align: center;
}

.btn:hover,
.active {
  background: var(--primary-700);
  color: var(--neutral-100);
}
