.container{
  max-width: 60ch;
}

.container > header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.container > button{
  background: var(--accent);
  border-radius: var(--border-radius);
  padding: 0.5em;
}

.reviewActions{
  display: flex;
  gap: 1rem;
}

.reviewActions > button{
  font-size: 1.2rem;
}

.add{
  transition: 0.5s ease-in;
  font-size: 1.7rem;
}
.add.rotated{
  transform: rotate(225deg);
}

.inputContainer{
  visibility: hidden;
  max-height: 0;
  transition: 1s;
  overflow: hidden;
}

.inputContainer.active{
  visibility: visible;
  max-height: 15rem;
}

.inputContainer > div {
  text-align: right;
  background: white;
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.inputContainer button{
  background: var(--accent);
  margin-top: 0.5em;
  padding: 0.5em;
  border-radius: var(--border-radius);
}

.reviewInput{
  width: 100%;
  padding: 1em;
  height: 7em;
  display: block;
  border: none;
  outline: none;
  resize: none;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.loader{
  max-width: 100%;
  display: flex;
  justify-content: center;
}