.container {
  max-width: 60ch;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.container > button {
  background: var(--primary-400);
  color: var(--neutral-900);
  border-radius: var(--border-radius);
  padding: 0.5em;
  width: 5em;
  margin-left: auto;
}

.reviewActions {
  display: flex;
  gap: 1rem;
  margin-right: auto;
}

.reviewActions > button {
  font-size: 1.2rem;
  transition: 0.3s;
}

.reviewActions > button:hover {
  opacity: 0.7;
}

.add {
  transition: 0.5s ease-in;
  font-size: 1.7rem;
}
.add.rotated {
  transform: rotate(225deg);
}

.inputContainer {
  visibility: hidden;
  max-height: 0;
  transition: max-height 1s, visibility 1s;
  overflow: hidden;
}

.inputContainer.active {
  visibility: visible;
  max-height: 15rem;
}

.inputContainer > div {
  text-align: right;
  background: white;
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.inputContainer > p {
  color: var(--error);
}

.inputContainer button {
  background: var(--primary-400);
  margin: 0.5em;
  padding: 0.5em;
  border-radius: var(--border-radius);
  color: var(--neutral-900);
}

.reviewInput {
  width: 100%;
  padding: 1em;
  height: 7em;
  display: block;
  border: none;
  outline: none;
  resize: none;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.reviews {
  margin-top: 0.5rem;
}

.loader {
  max-width: 100%;
  display: flex;
  justify-content: center;
}

.sortBy {
  width: 5em;
}
