.container{
  background: var(--primary);
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  border-radius: var(--border-radius);
  padding: 0.5em;
  min-width: 7em;
  height: 2rem;
  user-select: none;
}

.dropdownContent{
  position: absolute;
  top: 2rem;
  left: 0;
  border-radius: var(--border-radius);
  z-index: 100;
  min-width: 100%;
  white-space: nowrap;
  background: aliceblue;
  user-select: none;
}

.label{
  flex: 1;
}

.option{
  padding: 0.25em;
}

.option.selected{
  background: red;
}
.option:hover{
  background: grey;
}
