.container {
  background: var(--primary-400);
  color: var(--neutral-900);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 0.5em;
  width: fit-content;
  height: 2rem;
  cursor: pointer;
}

.dropdownContent {
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translate(-50%, 0);
  color: var(--neutral-100);
  z-index: 100;
  min-width: 100%;
  white-space: nowrap;
  background: rgb(40, 43, 56);
  overflow: hidden;
}

.container, .dropdownContent {
  border-radius: var(--border-radius);
  user-select: none;
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}

.option {
  padding: 0.25em 0.5em;
}

.option.selected {
  background: red;
}
.option:hover {
  background: grey;
}
