.reviewContainer{
  display: flex;
  margin-bottom: 1.5rem;
  gap: 0.5em;
  width: 100%;
}

.reviewContainer > div {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
}

.reviewContainer > a {
  height: fit-content;
}

.reviewContainer > div > header{
  display: flex;
  justify-content: space-between;
}

.reviewContainer > div > header > div{
  display: flex;
  align-items: center;
  gap: 0.5em;
}

