.container{
  width: 25rem;
}

.user{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user h3{
  display: inline;
  margin-left: 0.5em;
}

.info{
  display: flex;
  gap: 1rem;
}